*.db
*.json
*.csv
!raw_html_text.csv
!normalized_text.csv
!word_id.csv
!urls.csv
!unique_url.csv
!usable_url.csv
ceawlerlevel.py
indextojason.py
lc.py
location_count.py
querycheck.py
ref_count.py
selecttest.py
singlepagescrap.py
tryindex.py
.env
